<a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Categories</a> < <span>{{ ctrl.category.name }}</span>
<hr>
<div class="description">
    <p>
        <u>Category name</u>: <strong>{{ ctrl.category.name }}</strong>
    </p>
    <p ng-if="ctrl.category.special_instructions">
        <u>Description</u>: {{ ctrl.category.special_instructions }}
    </p>
    <hr>
</div>
<div class="items">
    <p><u>Items</u>:</p>
    <ol>
        <li ng-repeat="item in ctrl.items" title="{{ item.description }}">
            {{ item.name }}
        </li>
    </ol>
    </div>